<div class="page-title-box">
    <h4 class="page-title">Add Purchase</h4>
</div>

<div class="card mb-4">
    <div class="card-header">
        <div class="card-title">Add New Purchase</div>
    </div>
    <div class="card-body">
        <form>
            <div class="row">
                <div class="col-md-6">
                    <div class="mb-3">
                        <label class="control-label">Invoice Number</label>
                        <input type="text" class="form-control" />
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="mb-3">
                        <label class="control-label">Purchase Date</label>
                        <input type="date" class="form-control" />
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="mb-3">
                        <label class="control-label">Supplier</label>
                        <select class="form-select">
                            <option>Select Supplier</option>
                        </select>
                    </div>
                 </div>
                <div class="col-md-6">
                    <div class="mb-3">
                        <label class="control-label">Notes</label>
                        <textarea class="form-control"></textarea>
                    </div>
                </div>
            </div>

            <h5>Products</h5>
            <table class="table" id="productTable">
                <thead>
                    <tr>
                        <th>Product</th>
                        <th>Quantity</th>
                        <th>Price</th>
                        <th>Discount</th>
                        <th>Serial Number</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td><select class="form-select"><option>Select Product</option></select></td>
                        <td><input type="number" class="form-control" /></td>
                        <td><input type="number" class="form-control" /></td>
                        <td><input type="number" class="form-control" /></td>
                        <td><input type="text" class="form-control"  /></td>
                        <td><button type="button" class="btn btn-danger btn-sm"><i class="fa fa-trash"></i></button></td>
                    </tr>
                </tbody>
            </table>
            <button type="button" class="btn btn-success"><i class="fa fa-plus"></i> Add Product</button>

            <div class="d-grid gap-2 d-md-block mt-3">
                <button type="button" class="btn btn-blue">Save</button>
                <button type="button" class="btn btn-carrot-outline"><i class="fa fa-reply"></i> Back to List</button>
            </div>
        </form>
    </div>
</div>
